.restform-field-wrapper {
    display: flex;
    align-items: center;
    gap: 0.2em;
    width: 100%;
}

.restform-field-marker {
    flex: 0 0 4px;
    background: var(--bs-danger);
    align-self: stretch;
}

.restform-prolog-container {
    margin-bottom: 1em;
    padding: 0.5em;
    background: var(--bs-light);
    border-radius: 0.25em;
}
