#wx-header {
    background: var(--bs-dark);
}

#wx-header-appnavigator {

}

#wx-header-apptitle {
    color: var(--bs-body-bg);
}

[data-bs-theme="dark"] #wx-header-apptitle {
    color: var(--bs-body-color);
}

#wx-header-appnavigation {
    color: var(--bs-body-bg);
}

[data-bs-theme="dark"] #wx-header-appnavigation {
    color: var(--bs-body-color);
}
    
#wx-header-appnavigation .active {
    color: var(--bs-info);
}

#wx-header-appnavigation > *:hover:not(.wx-overflow-menu:hover):not(.dropdown-menu) {
    background: var(--bs-gray-800);
}

#wx-header-appnavigation > *:focus {
    background: var(--bs-gray-800);
}

#wx-header-quickcreate {
}

#wx-header-notifications {
    color: var(--bs-body-bg);
}

#wx-header-notifications:hover {
    background: var(--bs-gray-800);
}

#wx-header-help {
    color: var(--bs-body-bg);
}

#wx-header-help:hover {
    background: var(--bs-gray-800);
}

#wx-header-settings {
    color: var(--bs-body-bg);
}

#wx-header-settings:hover {
    background: var(--bs-gray-800);
}

#wx-toast {
    background: var(--bs-warning);
    color: var(--bs-body-color);
}

#wx-breadcrumb {
}

#wx-prologue {

}

#wx-searchoptions {
}

#wx-sidebar {

}

#wx-settingtab {

}

#wx-settingmenu {

}

#wx-split-gutter {
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

#wx-content {
}

#wx-content-toolbar {
}

#wx-content-toolbar-more {
}

#wx-content-main {
}

#wx-content-main-headline {
}

#wx-content-main-headline-more {
    background: var(--bs-white);
}

#wx-content-property {
    background: aliceblue;
}

#wx-footer {
    background: var(--bs-light);
}